<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/base/images/penguin.png') }}" />
        {% block stylesheets %}
            <link href="{{ asset('assets/base/css/materialize.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/base/css/base.css') }}" rel="stylesheet"/>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        {% block extend_stylesheets %}{% endblock %}
    </head>
    <body>
    {% block menu %}{% endblock %}
{% block body %}{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">OrangeHRM Open Source Registration Server</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Penguin OrangeHRM Inc. 
        </div>
    </div>
</footer>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/base/js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/base/js/materialize.min.js') }}"></script>
{% endblock %}
{% block extend_javascripts %}{% endblock %}
</body>
</html>
